@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: "Roboto", sans-serif;
}

.App {
}

header {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 24px;
}

header > p {
	font-style: italic;
}

header > h1 {
	font-size: 36px;
	margin-bottom: 12px;
}

.DogListing {
	width: 300px;
	margin-bottom: 36px;
}

.DogListing > p {
	font-weight: 700;
	margin: 12px 0;
}

.DogListing img {
	border-radius: 5px;
}

img {
	max-width: 100%;
}

.DogList {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
