@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
	font-family: "Roboto", sans-serif;
}

.DogList {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
